In [4]:
import pandas as pd

data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "Yes", "No", "Yes", "Yes", "Yes"],
}

df = pd.DataFrame(data)

print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K   Yes
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K   Yes
9   10     No         Single            90K   Yes

In [3]:
selected_rows = df.iloc[[0, 4, 7, 8]]

print(selected_rows)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K   Yes

In [5]:
rows_3_to_7 = df.iloc[3:7]
print("Rows from index 3 to 7:")
print(rows_3_to_7)

rows_4_to_8_columns_2_to_4 = df.iloc[4:8, 2:5]
print("\nRows from index 4 to 8 and columns 2 to 4:")
print(rows_4_to_8_columns_2_to_4)

all_rows_columns_1_to_3 = df.iloc[:, 1:4]
print("\nAll rows with column index 1 to 3:")
print(all_rows_columns_1_to_3)

Rows from index 3 to 7:
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K   Yes
6    7    Yes       Divorced           220K    No

Rows from index 4 to 8 and columns 2 to 4:
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K   Yes
6       Divorced           220K    No
7         Single            85K   Yes

All rows with column index 1 to 3:
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [13]:
import pandas as pd

data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice","Bob","charlie","Diana","Edward"],
    "Department": ["HR","IT","IT","Marketing","Sales"],
    "Age": [29,34,41,28,38],
    "Salary": ["50k","70k","65k","55k","60k"],
    "Years_of_Experience": [4,8,10,3,12],
    "Joining_Date": ["2020-03-15","2017-07-19","2013-06-01","2021-02-10","2010-11-25"],
    "Gender": ["Female","Male","Male","Female","Male"],
    "Bonus": ["5k","7k","6k","4.5k","5k"],
    "Rating": [4.5,4.0,3.8,4.7,3.5]
}

df = pd.DataFrame(data)

print(df)

   Employee_ID     Name Department  Age Salary  Years_of_Experience  \
0          101    Alice         HR   29    50k                    4
1          102      Bob         IT   34    70k                    8
2          103  charlie         IT   41    65k                   10
3          104    Diana  Marketing   28    55k                    3
4          105   Edward      Sales   38    60k                   12

  Joining_Date  Gender Bonus  Rating
0   2020-03-15  Female    5k     4.5
1   2017-07-19    Male    7k     4.0
2   2013-06-01    Male    6k     3.8
3   2021-02-10  Female  4.5k     4.7
4   2010-11-25    Male    5k     3.5

In [14]:
shape = df.shape
print(f"The DataFrame has {shape[0]} rows and {shape[1]} columns.")

The DataFrame has 5 rows and 10 columns.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      object
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      object
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 532.0+ bytes

In [17]:
all_stats = df.describe(include='all')
print("\nDescriptive statistics for all columns:")
print(all_stats)

Descriptive statistics for all columns:
        Employee_ID   Name Department        Age Salary  Years_of_Experience  \
count      5.000000      5          5   5.000000      5             5.000000
unique          NaN      5          4        NaN      5                  NaN
top             NaN  Alice         IT        NaN    50k                  NaN
freq            NaN      1          2        NaN      1                  NaN
mean     103.000000    NaN        NaN  34.000000    NaN             7.400000
std        1.581139    NaN        NaN   5.612486    NaN             3.847077
min      101.000000    NaN        NaN  28.000000    NaN             3.000000
25%      102.000000    NaN        NaN  29.000000    NaN             4.000000
50%      103.000000    NaN        NaN  34.000000    NaN             8.000000
75%      104.000000    NaN        NaN  38.000000    NaN            10.000000
max      105.000000    NaN        NaN  41.000000    NaN            12.000000

       Joining_Date Gender Bonus    Rating
count             5      5     5  5.000000
unique            5      2     4       NaN
top      2020-03-15   Male    5k       NaN
freq              1      3     2       NaN
mean            NaN    NaN   NaN  4.100000
std             NaN    NaN   NaN  0.494975
min             NaN    NaN   NaN  3.500000
25%             NaN    NaN   NaN  3.800000
50%             NaN    NaN   NaN  4.000000
75%             NaN    NaN   NaN  4.500000
max             NaN    NaN   NaN  4.700000

In [18]:
first_5_rows = df.head()
print("First 5 rows of the dataset:")
print(first_5_rows)

last_3_rows = df.tail(3)
print("\nLast 3 rows of the dataset:")
print(last_3_rows)

First 5 rows of the dataset:
   Employee_ID     Name Department  Age Salary  Years_of_Experience  \
0          101    Alice         HR   29    50k                    4
1          102      Bob         IT   34    70k                    8
2          103  charlie         IT   41    65k                   10
3          104    Diana  Marketing   28    55k                    3
4          105   Edward      Sales   38    60k                   12

  Joining_Date  Gender Bonus  Rating
0   2020-03-15  Female    5k     4.5
1   2017-07-19    Male    7k     4.0
2   2013-06-01    Male    6k     3.8
3   2021-02-10  Female  4.5k     4.7
4   2010-11-25    Male    5k     3.5

Last 3 rows of the dataset:
   Employee_ID     Name Department  Age Salary  Years_of_Experience  \
2          103  charlie         IT   41    65k                   10
3          104    Diana  Marketing   28    55k                    3
4          105   Edward      Sales   38    60k                   12

  Joining_Date  Gender Bonus  Rating
2   2013-06-01    Male    6k     3.8
3   2021-02-10  Female  4.5k     4.7
4   2010-11-25    Male    5k     3.5

In [19]:
df['Salary'] = df['Salary'].str.replace('k', '').astype(int) * 1000
df['Bonus'] = df['Bonus'].str.replace('k', '').astype(float) * 1000

average_salary = df['Salary'].mean()
print(f"The average salary of employees: {average_salary}")

total_bonus = df['Bonus'].sum()
print(f"The total bonus paid to all employees: {total_bonus}")

youngest_age = df['Age'].min()
print(f"The youngest employee's age: {youngest_age}")

highest_rating = df['Rating'].max()
print(f"The highest performance rating: {highest_rating}")

The average salary of employees: 60000.0
The total bonus paid to all employees: 27500.0
The youngest employee's age: 28
The highest performance rating: 4.7

In [20]:
df_sorted = df.sort_values(by="Salary", ascending=False)
print(df_sorted)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender   Bonus  Rating
1   2017-07-19    Male  7000.0     4.0
2   2013-06-01    Male  6000.0     3.8
4   2010-11-25    Male  5000.0     3.5
3   2021-02-10  Female  4500.0     4.7
0   2020-03-15  Female  5000.0     4.5

In [21]:
def categorize_performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df['Performance_Category'] = df['Rating'].apply(categorize_performance)
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender   Bonus  Rating Performance_Category
0   2020-03-15  Female  5000.0     4.5            Excellent
1   2017-07-19    Male  7000.0     4.0                 Good
2   2013-06-01    Male  6000.0     3.8              Average
3   2021-02-10  Female  4500.0     4.7            Excellent
4   2010-11-25    Male  5000.0     3.5              Average

In [22]:
missing_values = df.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

In [23]:
df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print(df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender   Bonus  Rating Performance_Category
0  Female  5000.0     4.5            Excellent
1    Male  7000.0     4.0                 Good
2    Male  6000.0     3.8              Average
3  Female  4500.0     4.7            Excellent
4    Male  5000.0     3.5              Average

In [24]:
experienced_employees = df[df["Years_of_Experience"] > 5]
print("Employees with more than 5 years of experience:")
print(experienced_employees)

it_employees = df[df["Department"] == "IT"]
print("\nEmployees in the IT department:")
print(it_employees)

Employees with more than 5 years of experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender   Bonus  Rating Performance_Category
1   Male  7000.0     4.0                 Good
2   Male  6000.0     3.8              Average
4   Male  5000.0     3.5              Average

Employees in the IT department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  charlie         IT   41   65000                   10   2013-06-01

  Gender   Bonus  Rating Performance_Category
1   Male  7000.0     4.0                 Good
2   Male  6000.0     3.8              Average

In [25]:
df["Tax"] = df["Salary"] * 0.10
print(df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender   Bonus  Rating Performance_Category     Tax
0  Female  5000.0     4.5            Excellent  5000.0
1    Male  7000.0     4.0                 Good  7000.0
2    Male  6000.0     3.8              Average  6500.0
3  Female  4500.0     4.7            Excellent  5500.0
4    Male  5000.0     3.5              Average  6000.0

In [26]:
import pandas as pd

df.to_csv('modified_data.csv', index=False)